In [1]:
import pandas as pd

#paired
df1 = pd.read_csv('/Users/mariiazelenskaia/Desktop/—É—á–µ–±–∞üë©üèª‚Äçüî¨/BiFüíª/hw13/paired_condition_treated_results.csv', index_col = 0)

#unpaired
df2 = pd.read_csv('/Users/mariiazelenskaia/Desktop/—É—á–µ–±–∞üë©üèª‚Äçüî¨/BiFüíª/hw13/unpaired_condition_treated_results.csv', index_col = 0)

In [2]:
genes1 = df1.head(10).index
genes2 = df2.head(10).index

In [3]:
common = list(set(genes1) & set(genes2))
common

['CDH3', 'RP11-474D1.3', 'C2CD4A', 'GYLTL1B']

In [4]:
df1 = df1[(df1['padj'] < 0.05) & (df1['log2FoldChange'].abs() >= 1)]
df2 = df2[(df2['padj'] < 0.05) & (df2['log2FoldChange'].abs() >= 1)]

In [5]:
df1

,baseMean,log2FoldChange,lfcSE,pvalue,padj
CDH3,1514.508985,7.188710,0.400967,5.266847e-76,8.842509e-72
GYLTL1B,1236.554809,5.674997,0.366847,1.201853e-56,1.008896e-52
C2CD4A,543.941121,5.388573,0.364641,3.293407e-51,1.843100e-47
RP11-474D1.3,428.358064,9.312236,0.644642,7.640727e-50,3.207004e-46
MMP7,1078.701661,8.553333,0.599580,2.128313e-49,7.146450e-46
...,...,...,...,...,...
CTD-2328D6.1,34.505490,1.047002,0.616923,1.449995e-02,4.905092e-02
PTPLA,120.004232,-1.032291,0.742479,1.457625e-02,4.924949e-02
ESR2,23.669380,-1.104406,0.690013,1.460487e-02,4.932631e-02
IGKV1-27,714.365867,-1.038479,0.780931,1.477438e-02,4.981867e-02
SOX15,44.942717,-1.039000,0.653949,1.478033e-02,4.981869e-02

In [6]:
df2

,baseMean,log2FoldChange,lfcSE,pvalue,padj
RP11-474D1.3,428.358064,9.178134,0.593908,1.364930e-54,2.262371e-50
CDH3,1514.508985,7.240486,0.530773,9.231125e-44,7.650295e-40
MMP11,3691.591790,5.176798,0.405912,1.842664e-38,1.018072e-34
WNT2,200.409369,5.736149,0.463340,1.835779e-36,7.607009e-33
ATG9B,165.549271,4.310814,0.349275,2.897243e-36,9.604360e-33
...,...,...,...,...,...
DENND1B,744.818969,-1.003693,0.524174,1.486115e-02,4.972217e-02
RP11-1055B8.1,18.978110,1.192701,0.731773,1.492571e-02,4.986589e-02
PRRX1,392.304733,1.312071,0.827157,1.492818e-02,4.986589e-02
MMP9,1326.532719,1.333303,0.852935,1.494657e-02,4.990720e-02
IGHV3-15,1762.680332,-1.315619,0.869113,1.496973e-02,4.997447e-02

paired

In [7]:
df1.shape

(3847, 5)

unpaired

In [8]:
df2.shape

(3698, 5)